USE [QUAN_LY_THU_VIEN]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_MUON]    Script Date: 3/11/2026 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_MUON](
	[ma_phieu] [int] NOT NULL,
	[ma_cuon] [int] NOT NULL,
	[ngay_tra] [datetime] NULL,
	[tinh_trang] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phieu] ASC,
	[ma_cuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUON_SACH]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUON_SACH](
	[ma_cuon] [int] IDENTITY(1,1) NOT NULL,
	[ma_sach] [int] NOT NULL,
	[trang_thai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_cuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAT_CHO]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAT_CHO](
	[ma_dat_cho] [int] IDENTITY(1,1) NOT NULL,
	[ma_the] [int] NOT NULL,
	[ma_sach] [int] NOT NULL,
	[ngay_dat] [datetime] NOT NULL,
	[trang_thai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_dat_cho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOC_GIA]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOC_GIA](
	[ma_doc_gia] [int] IDENTITY(1,1) NOT NULL,
	[ma_sinh_vien] [nvarchar](20) NOT NULL,
	[ma_tai_khoan] [int] NOT NULL,
	[ngay_sinh] [date] NULL,
	[dia_chi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_doc_gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_sinh_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_tai_khoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[ma_nhan_vien] [int] IDENTITY(1,1) NOT NULL,
	[ma_tai_khoan] [int] NOT NULL,
	[chuc_vu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nhan_vien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_tai_khoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHAN_QUYEN]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAN_QUYEN](
	[ma_tai_khoan] [int] NOT NULL,
	[ma_vai_tro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_tai_khoan] ASC,
	[ma_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_MUON]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_MUON](
	[ma_phieu] [int] IDENTITY(1,1) NOT NULL,
	[ma_the] [int] NOT NULL,
	[ma_nhan_vien] [int] NOT NULL,
	[ngay_muon] [datetime] NOT NULL,
	[han_tra] [datetime] NOT NULL,
	[so_lan_gia_han] [int] NOT NULL,
	[trang_thai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[ma_sach] [int] IDENTITY(1,1) NOT NULL,
	[ten_sach] [nvarchar](255) NOT NULL,
	[tac_gia] [nvarchar](150) NOT NULL,
	[the_loai] [nvarchar](100) NULL,
	[nha_xuat_ban] [nvarchar](150) NULL,
	[nam_xuat_ban] [int] NULL,
	[vi_tri] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_sach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[ma_tai_khoan] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[mat_khau] [nvarchar](255) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[trang_thai] [nvarchar](20) NOT NULL,
	[ngay_tao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_tai_khoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THE_THU_VIEN]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_THU_VIEN](
	[ma_the] [int] IDENTITY(1,1) NOT NULL,
	[ma_doc_gia] [int] NOT NULL,
	[ngay_cap] [date] NOT NULL,
	[ngay_het_han] [date] NOT NULL,
	[trang_thai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_the] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONG_BAO]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONG_BAO](
	[ma_thong_bao] [int] IDENTITY(1,1) NOT NULL,
	[ma_tai_khoan] [int] NOT NULL,
	[noi_dung] [nvarchar](500) NOT NULL,
	[ngay_gui] [datetime] NOT NULL,
	[da_doc] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_thong_bao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEN_PHAT]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEN_PHAT](
	[ma_phat] [int] IDENTITY(1,1) NOT NULL,
	[ma_phieu] [int] NOT NULL,
	[so_tien] [decimal](18, 2) NOT NULL,
	[ly_do] [nvarchar](255) NOT NULL,
	[da_thanh_toan] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAI_TRO]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAI_TRO](
	[ma_vai_tro] [int] IDENTITY(1,1) NOT NULL,
	[ten_vai_tro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ten_vai_tro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUON_SACH] ADD  DEFAULT (N'CoSan') FOR [trang_thai]
GO
ALTER TABLE [dbo].[DAT_CHO] ADD  DEFAULT (getdate()) FOR [ngay_dat]
GO
ALTER TABLE [dbo].[DAT_CHO] ADD  DEFAULT (N'ChoXuLy') FOR [trang_thai]
GO
ALTER TABLE [dbo].[PHIEU_MUON] ADD  DEFAULT (getdate()) FOR [ngay_muon]
GO
ALTER TABLE [dbo].[PHIEU_MUON] ADD  DEFAULT ((0)) FOR [so_lan_gia_han]
GO
ALTER TABLE [dbo].[PHIEU_MUON] ADD  DEFAULT (N'DangMuon') FOR [trang_thai]
GO
ALTER TABLE [dbo].[TAI_KHOAN] ADD  DEFAULT (N'HoatDong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[TAI_KHOAN] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[THE_THU_VIEN] ADD  DEFAULT (N'HoatDong') FOR [trang_thai]
GO
ALTER TABLE [dbo].[THONG_BAO] ADD  DEFAULT (getdate()) FOR [ngay_gui]
GO
ALTER TABLE [dbo].[THONG_BAO] ADD  DEFAULT ((0)) FOR [da_doc]
GO
ALTER TABLE [dbo].[TIEN_PHAT] ADD  DEFAULT ((0)) FOR [so_tien]
GO
ALTER TABLE [dbo].[TIEN_PHAT] ADD  DEFAULT ((0)) FOR [da_thanh_toan]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_MUON_CUON_SACH] FOREIGN KEY([ma_cuon])
REFERENCES [dbo].[CUON_SACH] ([ma_cuon])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_MUON] CHECK CONSTRAINT [FK_CT_PHIEU_MUON_CUON_SACH]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_MUON_PHIEU_MUON] FOREIGN KEY([ma_phieu])
REFERENCES [dbo].[PHIEU_MUON] ([ma_phieu])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_MUON] CHECK CONSTRAINT [FK_CT_PHIEU_MUON_PHIEU_MUON]
GO
ALTER TABLE [dbo].[CUON_SACH]  WITH CHECK ADD  CONSTRAINT [FK_CUON_SACH_SACH] FOREIGN KEY([ma_sach])
REFERENCES [dbo].[SACH] ([ma_sach])
GO
ALTER TABLE [dbo].[CUON_SACH] CHECK CONSTRAINT [FK_CUON_SACH_SACH]
GO
ALTER TABLE [dbo].[DAT_CHO]  WITH CHECK ADD  CONSTRAINT [FK_DAT_CHO_SACH] FOREIGN KEY([ma_sach])
REFERENCES [dbo].[SACH] ([ma_sach])
GO
ALTER TABLE [dbo].[DAT_CHO] CHECK CONSTRAINT [FK_DAT_CHO_SACH]
GO
ALTER TABLE [dbo].[DAT_CHO]  WITH CHECK ADD  CONSTRAINT [FK_DAT_CHO_THE_THU_VIEN] FOREIGN KEY([ma_the])
REFERENCES [dbo].[THE_THU_VIEN] ([ma_the])
GO
ALTER TABLE [dbo].[DAT_CHO] CHECK CONSTRAINT [FK_DAT_CHO_THE_THU_VIEN]
GO
ALTER TABLE [dbo].[DOC_GIA]  WITH CHECK ADD  CONSTRAINT [FK_DOC_GIA_TAI_KHOAN] FOREIGN KEY([ma_tai_khoan])
REFERENCES [dbo].[TAI_KHOAN] ([ma_tai_khoan])
GO
ALTER TABLE [dbo].[DOC_GIA] CHECK CONSTRAINT [FK_DOC_GIA_TAI_KHOAN]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_TAI_KHOAN] FOREIGN KEY([ma_tai_khoan])
REFERENCES [dbo].[TAI_KHOAN] ([ma_tai_khoan])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_TAI_KHOAN]
GO
ALTER TABLE [dbo].[PHAN_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_QUYEN_TAI_KHOAN] FOREIGN KEY([ma_tai_khoan])
REFERENCES [dbo].[TAI_KHOAN] ([ma_tai_khoan])
GO
ALTER TABLE [dbo].[PHAN_QUYEN] CHECK CONSTRAINT [FK_PHAN_QUYEN_TAI_KHOAN]
GO
ALTER TABLE [dbo].[PHAN_QUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHAN_QUYEN_VAI_TRO] FOREIGN KEY([ma_vai_tro])
REFERENCES [dbo].[VAI_TRO] ([ma_vai_tro])
GO
ALTER TABLE [dbo].[PHAN_QUYEN] CHECK CONSTRAINT [FK_PHAN_QUYEN_VAI_TRO]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_MUON_NHAN_VIEN] FOREIGN KEY([ma_nhan_vien])
REFERENCES [dbo].[NHAN_VIEN] ([ma_nhan_vien])
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [FK_PHIEU_MUON_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_MUON_THE_THU_VIEN] FOREIGN KEY([ma_the])
REFERENCES [dbo].[THE_THU_VIEN] ([ma_the])
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [FK_PHIEU_MUON_THE_THU_VIEN]
GO
ALTER TABLE [dbo].[THE_THU_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_THE_THU_VIEN_DOC_GIA] FOREIGN KEY([ma_doc_gia])
REFERENCES [dbo].[DOC_GIA] ([ma_doc_gia])
GO
ALTER TABLE [dbo].[THE_THU_VIEN] CHECK CONSTRAINT [FK_THE_THU_VIEN_DOC_GIA]
GO
ALTER TABLE [dbo].[THONG_BAO]  WITH CHECK ADD  CONSTRAINT [FK_THONG_BAO_TAI_KHOAN] FOREIGN KEY([ma_tai_khoan])
REFERENCES [dbo].[TAI_KHOAN] ([ma_tai_khoan])
GO
ALTER TABLE [dbo].[THONG_BAO] CHECK CONSTRAINT [FK_THONG_BAO_TAI_KHOAN]
GO
ALTER TABLE [dbo].[TIEN_PHAT]  WITH CHECK ADD  CONSTRAINT [FK_TIEN_PHAT_PHIEU_MUON] FOREIGN KEY([ma_phieu])
REFERENCES [dbo].[PHIEU_MUON] ([ma_phieu])
GO
ALTER TABLE [dbo].[TIEN_PHAT] CHECK CONSTRAINT [FK_TIEN_PHAT_PHIEU_MUON]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [CK_CT_PHIEU_MUON_TINH_TRANG] CHECK  (([tinh_trang] IS NULL OR ([tinh_trang]=N'Mat' OR [tinh_trang]=N'HuHong' OR [tinh_trang]=N'BinhThuong')))
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_MUON] CHECK CONSTRAINT [CK_CT_PHIEU_MUON_TINH_TRANG]
GO
ALTER TABLE [dbo].[CUON_SACH]  WITH CHECK ADD  CONSTRAINT [CK_CUON_SACH_TRANG_THAI] CHECK  (([trang_thai]=N'Mat' OR [trang_thai]=N'HuHong' OR [trang_thai]=N'DatCho' OR [trang_thai]=N'DangMuon' OR [trang_thai]=N'CoSan'))
GO
ALTER TABLE [dbo].[CUON_SACH] CHECK CONSTRAINT [CK_CUON_SACH_TRANG_THAI]
GO
ALTER TABLE [dbo].[DAT_CHO]  WITH CHECK ADD  CONSTRAINT [CK_DAT_CHO_TRANG_THAI] CHECK  (([trang_thai]=N'HoanTat' OR [trang_thai]=N'DaHuy' OR [trang_thai]=N'DaDuyet' OR [trang_thai]=N'ChoXuLy'))
GO
ALTER TABLE [dbo].[DAT_CHO] CHECK CONSTRAINT [CK_DAT_CHO_TRANG_THAI]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [CK_PHIEU_MUON_HAN_TRA] CHECK  (([han_tra]>=[ngay_muon]))
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [CK_PHIEU_MUON_HAN_TRA]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [CK_PHIEU_MUON_SO_LAN_GIA_HAN] CHECK  (([so_lan_gia_han]>=(0)))
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [CK_PHIEU_MUON_SO_LAN_GIA_HAN]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [CK_PHIEU_MUON_TRANG_THAI] CHECK  (([trang_thai]=N'QuaHan' OR [trang_thai]=N'DaTra' OR [trang_thai]=N'DangMuon'))
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [CK_PHIEU_MUON_TRANG_THAI]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [CK_SACH_NAM_XUAT_BAN] CHECK  (([nam_xuat_ban] IS NULL OR [nam_xuat_ban]>=(0)))
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [CK_SACH_NAM_XUAT_BAN]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TAI_KHOAN_TRANG_THAI] CHECK  (([trang_thai]=N'BiKhoa' OR [trang_thai]=N'HoatDong'))
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [CK_TAI_KHOAN_TRANG_THAI]
GO
ALTER TABLE [dbo].[THE_THU_VIEN]  WITH CHECK ADD  CONSTRAINT [CK_THE_THU_VIEN_NGAY] CHECK  (([ngay_het_han]>=[ngay_cap]))
GO
ALTER TABLE [dbo].[THE_THU_VIEN] CHECK CONSTRAINT [CK_THE_THU_VIEN_NGAY]
GO
ALTER TABLE [dbo].[THE_THU_VIEN]  WITH CHECK ADD  CONSTRAINT [CK_THE_THU_VIEN_TRANG_THAI] CHECK  (([trang_thai]=N'BiKhoa' OR [trang_thai]=N'HetHan' OR [trang_thai]=N'HoatDong'))
GO
ALTER TABLE [dbo].[THE_THU_VIEN] CHECK CONSTRAINT [CK_THE_THU_VIEN_TRANG_THAI]
GO
ALTER TABLE [dbo].[TIEN_PHAT]  WITH CHECK ADD  CONSTRAINT [CK_TIEN_PHAT_SO_TIEN] CHECK  (([so_tien]>=(0)))
GO
ALTER TABLE [dbo].[TIEN_PHAT] CHECK CONSTRAINT [CK_TIEN_PHAT_SO_TIEN]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANG_NHAP]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DANG_NHAP]
    @email NVARCHAR(100),
    @mat_khau NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        tk.ma_tai_khoan,
        tk.email,
        tk.ho_ten,
        tk.trang_thai,
        vt.ten_vai_tro
    FROM TAI_KHOAN tk
    LEFT JOIN PHAN_QUYEN pq ON tk.ma_tai_khoan = pq.ma_tai_khoan
    LEFT JOIN VAI_TRO vt ON pq.ma_vai_tro = vt.ma_vai_tro
    WHERE tk.email = @email
      AND tk.mat_khau = @mat_khau
      AND tk.trang_thai = N'HoatDong';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAP_PHIEU_MUON]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAP_PHIEU_MUON]
    @ma_the INT,
    @ma_nhan_vien INT,
    @ma_cuon INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Kiểm tra thẻ
        IF NOT EXISTS (
            SELECT 1
            FROM THE_THU_VIEN
            WHERE ma_the = @ma_the
              AND trang_thai = N'HoatDong'
              AND ngay_het_han >= CAST(GETDATE() AS DATE)
        )
        BEGIN
            RAISERROR(N'Thẻ thư viện không hợp lệ hoặc đã hết hạn.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Kiểm tra cuốn sách có sẵn
        IF NOT EXISTS (
            SELECT 1
            FROM CUON_SACH
            WHERE ma_cuon = @ma_cuon
              AND trang_thai = N'CoSan'
        )
        BEGIN
            RAISERROR(N'Cuốn sách không sẵn sàng để mượn.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        DECLARE @ma_phieu INT;

        INSERT INTO PHIEU_MUON (ma_the, ma_nhan_vien, ngay_muon, han_tra, so_lan_gia_han, trang_thai)
        VALUES (@ma_the, @ma_nhan_vien, GETDATE(), DATEADD(DAY, 14, GETDATE()), 0, N'DangMuon');

        SET @ma_phieu = SCOPE_IDENTITY();

        INSERT INTO CHI_TIET_PHIEU_MUON (ma_phieu, ma_cuon, ngay_tra, tinh_trang)
        VALUES (@ma_phieu, @ma_cuon, NULL, NULL);

        UPDATE CUON_SACH
        SET trang_thai = N'DangMuon'
        WHERE ma_cuon = @ma_cuon;

        COMMIT TRANSACTION;

        SELECT N'Lập phiếu mượn thành công' AS message, @ma_phieu AS ma_phieu;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_SACH]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TIM_SACH]
    @tu_khoa NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.ma_sach,
        s.ten_sach,
        s.tac_gia,
        s.the_loai,
        s.nha_xuat_ban,
        s.nam_xuat_ban,
        s.vi_tri,
        COUNT(cs.ma_cuon) AS tong_cuon,
        SUM(CASE WHEN cs.trang_thai = N'CoSan' THEN 1 ELSE 0 END) AS so_cuon_con
    FROM SACH s
    LEFT JOIN CUON_SACH cs ON s.ma_sach = cs.ma_sach
    WHERE s.ten_sach LIKE N'%' + @tu_khoa + N'%'
       OR s.tac_gia LIKE N'%' + @tu_khoa + N'%'
       OR s.the_loai LIKE N'%' + @tu_khoa + N'%'
    GROUP BY 
        s.ma_sach, s.ten_sach, s.tac_gia, s.the_loai, 
        s.nha_xuat_ban, s.nam_xuat_ban, s.vi_tri;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TRA_SACH]    Script Date: 3/11/2026 1:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TRA_SACH]
    @ma_phieu INT,
    @ma_cuon INT,
    @tinh_trang NVARCHAR(20) = N'BinhThuong'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (
            SELECT 1
            FROM CHI_TIET_PHIEU_MUON
            WHERE ma_phieu = @ma_phieu AND ma_cuon = @ma_cuon
        )
        BEGIN
            RAISERROR(N'Không tìm thấy chi tiết phiếu mượn.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        UPDATE CHI_TIET_PHIEU_MUON
        SET ngay_tra = GETDATE(),
            tinh_trang = @tinh_trang
        WHERE ma_phieu = @ma_phieu AND ma_cuon = @ma_cuon;

        IF @tinh_trang = N'BinhThuong'
        BEGIN
            UPDATE CUON_SACH
            SET trang_thai = N'CoSan'
            WHERE ma_cuon = @ma_cuon;
        END
        ELSE IF @tinh_trang = N'HuHong'
        BEGIN
            UPDATE CUON_SACH
            SET trang_thai = N'HuHong'
            WHERE ma_cuon = @ma_cuon;
        END
        ELSE IF @tinh_trang = N'Mat'
        BEGIN
            UPDATE CUON_SACH
            SET trang_thai = N'Mat'
            WHERE ma_cuon = @ma_cuon;
        END

        -- Nếu mọi cuốn trong phiếu đã trả thì cập nhật phiếu
        IF NOT EXISTS (
            SELECT 1
            FROM CHI_TIET_PHIEU_MUON
            WHERE ma_phieu = @ma_phieu
              AND ngay_tra IS NULL
        )
        BEGIN
            UPDATE PHIEU_MUON
            SET trang_thai = N'DaTra'
            WHERE ma_phieu = @ma_phieu;
        END

        COMMIT TRANSACTION;

        SELECT N'Trả sách thành công' AS message;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END
GO
